---
{{- if and .Values.cronjob.enabled (eq .Values.cronjob.type "cronjob") }}
{{- with .Values.cronjob.cronjob }}{{/* begin with cronjob */}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ template "nextcloud.fullname" $ }}-cron
  labels:
    {{- include "nextcloud.labels"  ( dict "component" "cron" "rootContext" $ ) | nindent 4 }}
    {{- with .labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  schedule: {{ .schedule | quote }}
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: {{ .successfulJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ .failedJobsHistoryLimit }}
  jobTemplate:
    metadata:
      labels:
        {{- include "nextcloud.selectorLabels"  ( dict "component" "cron" "rootContext" $ ) | nindent 8 }}
        {{- with $.Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      backoffLimit: {{ .backoffLimit }}
      template:
        metadata:
          labels:
            {{- with (mergeOverwrite (dict) $.Values.podLabels .podLabels) }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
        spec:
          {{- with $.Values.image.pullSecrets }}
          imagePullSecrets:
            {{- range . }}
            - name: {{ . }}
            {{- end}}
          {{- end }}
          restartPolicy: Never
          containers:
            - name: {{ $.Chart.Name }}-cron
              image: {{ include "nextcloud.image" $ }}
              imagePullPolicy: {{ $.Values.image.pullPolicy }}
              command:
                {{- toYaml .command | nindent 16 }}
              env:
                {{- include "nextcloud.env" $ | nindent 16 }}
              resources:
                {{- toYaml .resources | nindent 16 }}
              {{- with .securityContext }}
              securityContext:
                {{- toYaml . | nindent 16 }}
              {{- end }}
              volumeMounts:
                {{- include "nextcloud.volumeMounts" $ | trim | nindent 16 }}
          {{- with $.Values.nodeSelector }}
          nodeSelector:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .affinity }}
          affinity:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $.Values.tolerations }}
          tolerations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $.Values.topologySpreadConstraints }}
          topologySpreadConstraints:
            {{- toYaml . | nindent 12 }}
          {{- end }}
{{- end }}{{/* end with cronjob */}}
          volumes:
            - name: nextcloud-main
              {{- if .Values.persistence.enabled }}
              persistentVolumeClaim:
                claimName: {{ if .Values.persistence.existingClaim }}{{ .Values.persistence.existingClaim }}{{- else }}{{ template "nextcloud.fullname" . }}-nextcloud{{- end }}
              {{- else }}
              emptyDir: {}
              {{- end }}
            {{- if and .Values.persistence.nextcloudData.enabled .Values.persistence.enabled }}
            - name: nextcloud-data
              persistentVolumeClaim:
                claimName: {{ if .Values.persistence.nextcloudData.existingClaim }}{{ .Values.persistence.nextcloudData.existingClaim }}{{- else }}{{ template "nextcloud.fullname" . }}-nextcloud-data{{- end }}
            {{- end }}
            {{- if .Values.nextcloud.configs }}
            - name: nextcloud-config
              configMap:
                name: {{ template "nextcloud.fullname" . }}-config
            {{- end }}
            {{- if .Values.nextcloud.phpConfigs }}
            - name: nextcloud-phpconfig
              configMap:
                name: {{ template "nextcloud.fullname" . }}-phpconfig
            {{- end }}
            {{- if .Values.nginx.enabled }}
            - name: nextcloud-nginx-config
              configMap:
                name: {{ template "nextcloud.fullname" . }}-nginxconfig
            {{- end }}
            {{- if not (values .Values.nextcloud.hooks | compact | empty) }}
            - name: nextcloud-hooks
              configMap:
                name: {{ template "nextcloud.fullname" . }}-hooks
                defaultMode: 0o755
            {{- end }}
            {{- with .Values.nextcloud.extraVolumes }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          securityContext:
            {{- with .Values.securityContext }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- with .Values.nextcloud.podSecurityContext }}
            {{- toYaml . | nindent 12 }}
            {{- else }}
            {{- if .Values.nginx.enabled }}
            # Will mount configuration files as www-data (id: 82) for nextcloud
            fsGroup: 82
            {{- else }}
            # Will mount configuration files as www-data (id: 33) for nextcloud
            fsGroup: 33
            {{- end }}
            {{- end }}{{/* end-with podSecurityContext */}}
          {{- if .Values.rbac.enabled }}
          serviceAccountName: {{ .Values.rbac.serviceaccount.name }}
          {{- end }}
          {{- with .Values.dnsConfig }}
          dnsConfig:
            {{- toYaml . | nindent 12 }}
          {{- end }}
{{- end }}
